.Navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: antiquewhite;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 12px;
}

.item {
  align-items: center;
}

.ingredientImg{
  max-height: 200px;
  max-width: 200px;
}

.Meal{
  margin-left: 60px;
  margin-right: 60px;
}

.prev{
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  left: 20px;
  cursor: pointer;
  background-color: antiquewhite;
  padding: 10px;
  border-color: bisque;
  border-radius: 10px;
}

.next{
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  right: 20px;
  cursor: pointer;
  background-color: antiquewhite;
  padding: 10px;
  border-color: bisque;
  border-radius: 10px;
}

.menu {
  font-size: 36px;
  color: #6E5736;
  cursor: pointer;
}

.menu:hover {
  font-size: 39px;
  color: #a38a67;
}

h1 {
  font-size: 30px;
  color: #6E5736;
}

.countrySelect {
  position: fixed;
  top: 30px;
  right: 50px;
  cursor: pointer;
  color: white;
  background-color: #6E5736;
  padding: 10px;
  border-color: antiquewhite;
  border-radius: 3px;
}